.tray .arrow-next {
	padding-inline: 10px;
	height: 100%;
	display: grid;
	place-items: center;
	right: -50%;
	padding-right: 51%;
}

.tray .arrow-prev {
	padding-inline: 10px;
	height: 100%;
	display: grid;
	place-items: center;
	left: -50%;
	padding-left: 51%;
}

@media screen and (max-width: 1200px) {
	.tray .arrow-next {
		display: none;
	}
	.tray .arrow-prev {
		display: none;
	}
}
