.slick-list {
	overflow: visible;
}

.slick-list::-webkit-scrollbar {
	display: none;
}

.arrow {
	position: absolute;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10 !important;
	opacity: 0;
	transition: all 0.2s;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: none;
}

.slick-slider:hover .arrow {
	opacity: 1;
}

.heroContainer .arrow-next {
	right: -104%;
	padding-inline: 20px;
	padding-right: 100%;
	background: linear-gradient(to right, transparent 0%, black 100%);
}

.heroContainer .arrow-prev {
	left: -104%;
	padding-inline: 20px;
	padding-left: 100%;
	background: linear-gradient(to left, transparent 0%, black 100%);
}

ul.slick-dots li {
	transition: all 0.7s ease-in-out;
	height: 6px;
	width: 6px;
	background-color: #da76ff;
	border-radius: 10px;
	bottom: -15px;
	margin: 0 5px 0 0;
}

ul.slick-dots li.slick-active {
	width: 11px;
}

ul.slick-dots li:not(.slick-active) {
	background-color: #ffffffb2;
}

/* ! MEDIA QUERIES */

@media screen and (min-width: 1024px) {
	.arrow {
		display: flex;
	}
}
